@charset "utf-8";
/* CSS Document */


.back{height: 100%; width:auto; margin: 0; padding: 250px 0 ; background: linear-gradient(45deg, #76008A, #E9aa5E); }

.ana{height: 50px; width:auto; margin: 0 0 0 400px;}
.ana ul{position: relative; gap:25px; display: flex;}

.ana li{list-style: none; float: left; cursor: pointer; content: ; position: relative; inset:0; opacity:1; transition: 0.35s;}

.ana li#in{height: 50px; width: 50px;  background:#DEDEDE; background-image: url("img/in.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #00f; border-radius: 25px;}
.ana ul li#in:hover{width: 150px; background-color: #4146AF; background-image: url("img/linkedin.png"); background-size: 120px; background-repeat: no-repeat; background-position: center;}




.ana li#insta{height: 50px; width: 50px;  background:#dedede; background-image: url("img/insta.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #FF9902; border-radius: 25px;}
.ana ul li#insta:hover{width: 150px; background-color: #FF9902; background-image: url("img/instagram.png"); background-size: 150px; background-repeat: no-repeat; background-position: center;}


.ana li#tt{height: 50px; width: 50px;  background:#DEDEDE; background-image: url("img/tt.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #B800FF; border-radius: 25px;}
.ana ul li#tt:hover{width: 150px; background-color: #B800FF; background-image: url("img/tiktok.png"); background-size: 100px; background-repeat: no-repeat; background-position: center;}

.ana li#twt{height: 50px; width: 50px;  background:#DEDEDE; background-image: url("img/twt.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #0ff; border-radius: 25px;}
.ana ul li#twt:hover{width: 150px;  background-color: #0ff; background-image: url("img/twitter.png"); background-size: 100px; background-repeat: no-repeat; background-position: center;}


.ana li#wp{height: 50px; width: 50px;  background:#DEDEDE; background-image: url("img/wp.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #0f0; border-radius: 25px;}
.ana ul li#wp:hover{width: 150px; background-color: #0f0; background-image: url("img/whatsapp.png"); background-size: 140px; background-repeat: no-repeat; background-position: center;}

.ana li#ytb{height: 50px; width: 50px;  background:#DEDEDE; background-image: url("img/ytb.png"); background-size: 30px; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 30px #f00; border-radius: 25px;}
.ana ul li#ytb:hover{width: 150px; background-color: #f00; background-image: url("img/youtubee.png"); background-size: 80px; background-repeat: no-repeat; background-position: center;}

.zort{width: auto; height: auto; margin: 200px 0; padding: 0 20px 0 0; font: normal 16px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; opacity: 0.2; text-align: right; background-image: url("img/copyright.png"); background-repeat: no-repeat; background-size:16px; background-position: right;}


